{% extends 'base/base.html' %}
{% block content %}
  {% load static %}
        {% include 'includes/_navbars.html' %}
         
        <!--Hero Area-->
    <section class="hero-section">
        <div class="hero-area wave-animation">
            <div class="single-hero gradient-overlay">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 centered">
                            <div class="hero-sub">
                                <div class="table-cell">
                                    <div class="hero-left">
                                        
                                        <p>Successfully Changed Password</p>
                                        <div class="account-form">
                                          <p>
                                            Your password has been set. You may go ahead and <a href="{% url 'main:login' %}">sign in</a> now.
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Hero Area-->

    {% include 'includes/_footer.html' %}
    {% include 'includes/_scripts.html' %}

  {% endblock %}
