{% extends 'base/base.html' %}
{% block content %}
{% load static %}
{% include 'includes/_navbars.html' %}

<div class="preloader" id="preloader"
    style="background: url({% static 'assets/images/1558779995loader.gif' %}) no-repeat scroll center center #FFF;">
</div>


<!--Top Header Area Start-->
{% include 'includes/_navbars.html' %}
<!--Main-Menu Area Ends-->




<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area" style="background: url(../assets/images/1563350864breadcrumb_bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="pagetitle">
                    Forgot Password
                </h1>

                <ul class="pages">

                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Forgot Password
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->


<section class="login-signup">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="log-reg-tab-wrapper">
                    <div class="log-reg-tab-menu">
                        <ul class="nav" id="pills-tab" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                    role="tab" aria-controls="pills-profile" aria-selected="false">
                                    Forgot Password
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-signup" role="tabpanel"
                            aria-labelledby="pills-signup-tab">




                        </div>
                        <div class="tab-pane fade show active" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">

                            <div class="login-area signup-area">
                                <div class="login-form signup-form">
                                    <form name="registerForm" method="post">
                                        {% csrf_token %}
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    {% if messages %}
                                                    {% for message in messages %}
                                                    <div {% if message.tags %}
                                                        class="alert alert-{{ message.tags }}  alert-dismissible  show" {% endif %}
                                                        role="alert">
                                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                                        {{ message }}
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        <div class="alert alert-info validation" style="display: none;">
                                            <p class="text-left"></p>
                                        </div>
                                        <div class="alert alert-success validation" style="display: none;">
                                            <button type="button" class="close alert-close"><span>×</span></button>
                                            <p class="text-left"></p>
                                        </div>
                                        <div class="alert alert-danger validation" style="display: none;">
                                            <button type="button" class="close alert-close"><span>×</span></button>
                                            <p class="text-left"></p>
                                        </div>
                                        <div class="col-xl-12" id='message'>

                                        </div>
                                       
                                        <div class="row">
                                            
                                            <div class="col-lg-12">
                                                <div class="form-input">
                                                    <input type="email" class="User Name" name="email"
                                                        placeholder="Email Address" required="">
                                                    <i class="fas fa-envelope"></i>
                                                </div>
                                            </div>
                                        </div>
                                       

                                        <button  type="submit" class="submit-btn">Request Change</button>
                                        <br>
                                        <a href="{% url 'main:login' %}" class="forgot-pass">Back To Login</a>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'includes/_footer.html' %}
{% include 'includes/_scripts.html' %}

{% endblock %}