{% load static %}
<section id="case" class="case case-standard case-3col pt-90 pb-60 bg-gray">
  <div class="container">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
        <div class="heading heading-1 mb-50 text--center">
          <p class="heading--subtitle">Research Papers</p>
          <h2 class="heading--title">Case Studies</h2>
          <p class="heading--desc mb-0">
            We monitor the spectrum of available cryptocurrencies and alert our
            users to market moving events as and when it happens.
          </p>
        </div>
      </div>
      <!-- .col-md-6 end -->
    </div>
    <!-- .row end -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div
          class="carousel carousel-dots"
          data-slide="3"
          data-slide-rs="2"
          data-autoplay="false"
          data-nav="false"
          data-dots="true"
          data-space="30"
          data-loop="true"
          data-speed="1000"
        >
          <!-- Case #1 -->
          <div class="case-item filter-Cryptocurrency">
            <div class="case-item-container">
              <div class="case--img">
                <img src="{% static 'assetss/images/case/3col/1.jpg' %}" alt="case Item" />
                <div class="case--hover">
                  <div class="case--action">
                    <a href="#" title="case Item"></a>
                  </div>
                  <!-- .case-action end -->
                </div>
                <!-- .case-hover end -->
              </div>
              <!-- .case-img end -->
              <div class="case--content">
                <div class="case--cat">
                  <a href="#">Cryptocurrency</a>
                </div>
                <div class="case--title">
                  <h4>
                    <a href="#"
                      >Solving Real World Problems With Cryptocurrency</a
                    >
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <!-- . case-item end -->

          <!-- Case #2 -->
          <div class="case-item filter-Investment">
            <div class="case-item-container">
              <div class="case--img">
                <img src="{% static 'assetss/images/case/3col/2.jpg' %}" alt="case Item" />
                <div class="case--hover">
                  <div class="case--action">
                    <a href="#" title="case Item"></a>
                  </div>
                  <!-- .case-action end -->
                </div>
                <!-- .case-hover end -->
              </div>
              <!-- .case-img end -->
              <div class="case--content">
                <div class="case--cat">
                  <a href="#">Investment</a>
                </div>
                <div class="case--title">
                  <h4>
                    <a href="#"
                      >33 Cases: Cryptocurrency Fraud Is on the Rise in Japan</a
                    >
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <!-- . case-item end -->

          <!-- Case #3 -->
          <div class="case-item filter-Consulting">
            <div class="case-item-container">
              <div class="case--img">
                <img src="{% static 'assetss/images/case/3col/3.jpg' %}" alt="case Item" />
                <div class="case--hover">
                  <div class="case--action">
                    <a href="#" title="case Item"></a>
                  </div>
                  <!-- .case-action end -->
                </div>
                <!-- .case-hover end -->
              </div>
              <!-- .case-img end -->
              <div class="case--content">
                <div class="case--cat">
                  <a href="#">Consulting</a>
                </div>
                <div class="case--title">
                  <h4>
                    <a href="#"
                      >Research Perspectives & Challenges for Cryptocurrencies
                      Authors</a
                    >
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <!-- . case-item end -->

          <!-- Case #4 -->
          <div class="case-item filter-Investment">
            <div class="case-item-container">
              <div class="case--img">
                <img src="{% static 'assetss/images/case/3col/4.jpg' %}" alt="case Item" />
                <div class="case--hover">
                  <div class="case--action">
                    <a href="#" title="case Item"></a>
                  </div>
                  <!-- .case-action end -->
                </div>
                <!-- .case-hover end -->
              </div>
              <!-- .case-img end -->
              <div class="case--content">
                <div class="case--cat">
                  <a href="#">Investment</a>
                </div>
                <div class="case--title">
                  <h4>
                    <a href="#"
                      >Ripple’s Giving the Third-Largest Cryptocurrency a Second
                      Look</a
                    >
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <!-- . case-item end -->

          <!-- Case #5 -->
          <div class="case-item filter-Bitcoin">
            <div class="case-item-container">
              <div class="case--img">
                <img src="{% static 'assetss/images/case/3col/5.jpg' %}" alt="case Item" />
                <div class="case--hover">
                  <div class="case--action">
                    <a href="#" title="case Item"></a>
                  </div>
                  <!-- .case-action end -->
                </div>
                <!-- .case-hover end -->
              </div>
              <!-- .case-img end -->
              <div class="case--content">
                <div class="case--cat">
                  <a href="#">Bitcoin</a><a href="#">Cryptocurrency</a>
                </div>
                <div class="case--title">
                  <h4>
                    <a href="#"
                      >Bitcoin’s Price Surge is Making Hobby Mining Profitable
                      Again</a
                    >
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <!-- . case-item end -->

          <!-- Case #6 -->
          <div class="case-item filter-Mining">
            <div class="case-item-container">
              <div class="case--img">
                <img src="{% static 'assetss/images/case/3col/6.jpg' %}" alt="case Item" />
                <div class="case--hover">
                  <div class="case--action">
                    <a href="#" title="case Item"></a>
                  </div>
                  <!-- .case-action end -->
                </div>
                <!-- .case-hover end -->
              </div>
              <!-- .case-img end -->
              <div class="case--content">
                <div class="case--cat">
                  <a href="#">Mining</a><a href="#">Bitcoin</a>
                </div>
                <div class="case--title">
                  <h4>
                    <a href="#"
                      >The Rise of the Avalon 721 Bitcoin ASIC Miner</a
                    >
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <!-- . case-item end -->
        </div>
      </div>
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #case end -->
