{% load static %}
<section id="clients1" class="clients clients-1 bg-gray">
    <div class="container">
      <div class="row row-clients">
        <!-- Client #1 -->
        <div class="col-xs-12 col-sm-6 col-md-2 client">
          <img
            class="center-block"
            src="{% static 'assetss/images/clients/1.png' %}"
            alt="client"
          />
        </div>
        <!-- .client end -->

        <!-- Client #2 -->
        <div class="col-xs-12 col-sm-6 col-md-2 client">
          <img
            class="center-block"
            src="{% static 'assetss/images/clients/2.png' %}"
            alt="client"
          />
        </div>
        <!-- .client end -->

        <!-- Client #3 -->
        <div class="col-xs-12 col-sm-6 col-md-2 client">
          <img
            class="center-block"
            src="{% static 'assetss/images/clients/3.png' %}"
            alt="client"
          />
        </div>
        <!-- .client end -->

        <!-- Client #4 -->
        <div class="col-xs-12 col-sm-6 col-md-2 client">
          <img
            class="center-block"
            src="{% static 'assetss/images/clients/4.png' %}"
            alt="client"
          />
        </div>
        <!-- .client end -->

        <!-- Client #5 -->
        <div class="col-xs-12 col-sm-6 col-md-2 client">
          <img
            class="center-block"
            src="{% static 'assetss/images/clients/5.png' %}"
            alt="client"
          />
        </div>
        <!-- .client end -->

        <!-- Client #6 -->
        <div class="col-xs-12 col-sm-6 col-md-2 client">
          <img
            class="center-block"
            src="{% static 'assetss/images/clients/6.png' %}"
            alt="client"
          />
        </div>
        <!-- .client end -->
      </div>
      <!-- .row-clients end -->
    </div>
    <!-- .container end -->
  </section>