{% load static %}
<section id="consultation" class="consultation consultation-1 pb-0">
    <div class="bg-section">
      <img src="{% static 'assetss/images/background/8.jpg' %}" alt="Background" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="heading heading-2 mb-50">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-7">
                <h2 class="heading--title text-white">
                  <span class="text-theme">Discover</span
                  ><span class="text-white">
                    Thousands of Trading & Investment Opportunities.</span
                  >
                </h2>
              </div>
            </div>
            <!-- .row end -->
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <p class="heading--desc">
                  Now you can start trading Bitcoin, Ethereum and many
                  cryptocurrencies fast, easily and safely from where ever
                  you are. With great margin trading leverage and short sell
                  options available with quick deposit & withdrawal
                  capability, you can start trading with us in seconds.
                </p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <p class="heading--desc">
                  Cryptocurrencies have become established investment
                  commodities among major financial institutions, and have
                  even been adopted by countries such as Australia and
                  Japan. However, as with any investment there are risks
                  linked to market movements!
                </p>
              </div>
            </div>
            <!-- .row end -->
          </div>
          <!-- .heading end -->
        </div>
      </div>
      <!-- .row end -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="consultation-form mb-30 bg-white text-center">
            <div class="consultation--desc">Request a Consultation</div>
            <form class="mb-0">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                  <input
                    type="text"
                    class="form-control"
                    name="consultater-name"
                    id="yourname"
                    placeholder="Your Name"
                    required=""
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                  <input
                    type="email"
                    class="form-control"
                    name="consultater-email"
                    id="youremail"
                    placeholder="Email"
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                  <div class="form-select">
                    <i class="fa fa-angle-down"></i>
                    <select
                      class="form-control"
                      name="Cryptocurreny"
                      id="Cryptocurreny"
                    >
                      <option value="Cryptocurrencies">
                        Cryptocurrencies
                      </option>
                      <option value="Bitcoin">Bitcoin</option>
                      <option value="Litecoin">Litecoin</option>
                      <option value="Namecoin">Namecoin</option>
                      <option value="Dogecoin">Dogecoin</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <textarea
                    class="form-control"
                    name="consultater-message"
                    id="message"
                    rows="2"
                    placeholder="Request Details:"
                  ></textarea>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <input
                    type="submit"
                    value="Submit Request"
                    name="submit"
                    class="btn btn--primary btn--block"
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="contact-result"></div>
                </div>
              </div>
              <!-- .row end -->
            </form>
            <!-- form end -->
          </div>
          <!-- .contact-form end -->
        </div>
        <!-- .col-md-8 end -->
      </div>
    </div>
    <!-- .container end -->
  </section>