{% load static %}
<section
  id="contactInfo"
  class="contact contact-info bg-white text--center pt-90 pb-90"
>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="contact--info">
          <h3>Our Address</h3>
          <p>4828 Feathers Hooves Drive, Garden City</p>
          <p>NY, USA.</p>
          <a class="link--styled" href="#">Get Directions</a>
        </div>
      </div>
      <!-- .col-md-4 end -->
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="contact--info">
          <h3>Our Email</h3>
          <p>
            Main Email :
            <a href="#" class="__cf_email__">capitalcointradefx@gmail.com</a>
          </p>
          <p>
            Inquiries :
            <a href="#" class="__cf_email__">capitalcointradefx@gmail.com</a>
          </p>
          <a class="link--styled" href="mailto:capitalcointradefx@gmail.com"
            >Send a Message</a
          >
        </div>
      </div>
      <!-- .col-md-4 end -->
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="contact--info">
          <h3>Our Support</h3>
          <p>
            Main Support :
            <a href="#" class="__cf_email__">capitalcointradefx@gmail.com</a>
          </p>
          <p>
            Sales :
            <a href="#" class="__cf_email__">capitalcointradefx@gmail.com</a>
          </p>
          <a class="link--styled" href="#">Open a Ticket</a>
        </div>
      </div>
      <!-- .col-md-4 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
