{% load static %}

<section id="contact1" class="contact contact-1 pt-90 pb-90">
  <div class="container">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
        <div class="heading heading-1 mb-50 text--center">
          <p class="heading--subtitle">Have A Question?</p>
          <h2 class="heading--title">Get in touch</h2>
          <p class="heading--desc mb-0">
            We understand the importance of approaching each work integrally and
            believe in the power of simple and easy communication.
          </p>
        </div>
      </div>
      <!-- .col-md-6 end -->
    </div>
    <!-- .row end -->
    <div class="row">
      <div
        class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 wow fadeInUp"
        data-wow-delay="100ms"
      >
        <div class="row">
          <form class="mb-0">
            <div class="col-xs-12 col-sm-12 col-md-4">
              <input
                type="text"
                class="form-control"
                name="contact-name"
                id="contact-name"
                placeholder="Your Name"
                required=""
              />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <input
                type="email"
                class="form-control"
                name="contact-email"
                id="contact-email"
                placeholder="Email"
              />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <input
                type="text"
                class="form-control"
                name="contact-phone"
                id="contact-Phone"
                placeholder="Phone"
              />
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12">
              <textarea
                class="form-control"
                name="contact-message"
                id="contact-message"
                rows="2"
                placeholder="Request Details:"
              ></textarea>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
              <input
                type="submit"
                value="Submit Request"
                name="submit"
                class="btn btn--primary btn--block"
              />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="contact-result"></div>
            </div>
          </form>
          <!-- form end -->
        </div>
      </div>
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #contact1 end -->
