{% load static %}
<!--Footer Area-->
    <footer class="footer-area section-padding-2 blue-bg wave-animation">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 centered">
                    <div class="footer-widget">
                        <a href="#"><img src="{% static 'assets/images/logo.png' %}" alt=""></a>
                        <p>worldcryptocoinx Maing YOur Dreams Come True</p>
                        <div class="social">
                            <a href="#" class="cl-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="cl-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="cl-youtube"><i class="fa fa-youtube-play"></i></a>
                            <a href="#" class="cl-pinterest"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!--/Footer Area-->