{% load static %}
<footer id="footer" class="footer footer-1">
  <!-- Copyrights
============================================= -->
  <div class="footer--action">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="footer--action-container">
            <div class="row">
              <div class="col-xs-12 col-sm-7 col-md-6">
                <h3>Multi-Platform Accessible</h3>
                <p>Accessible by iOS, Android, Windows and Mac platforms</p>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-6">
                <div class="action-button">
                  <a href="#">
                    <img
                      src="{% static 'assetss/images/footer/app-store.png' %}"
                      alt="app store"
                    />
                  </a>
                  <a href="#">
                    <img
                      src="{% static 'assetss/images/footer/google-play.png' %}"
                      alt="app store"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .container end -->
  </div>
  <!-- .footer-action end -->

  <!-- Widget Section
============================================= -->
  <div class="footer-widget">
    <div class="container">
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-4 col-md-3 footer--widget widget-about">
          <div class="widget-content">
            <img
              class="footer-logo"
              src="{% static 'assetss/images/icons/pic3.png' %}"
              alt="logo"
            />
            <p>
              Exchange Cryptocurrency at the Best Rate by getting the best offer
              from all the exchanges at one place.
            </p>
            <div class="copyright">
              <span>© 2018, With Love by</span>
              <a
                href="https://themeforest.net/user/7oroof/portfolio?ref=zytheme"
                >7oroof.com</a
              >
            </div>
          </div>
        </div>
        <!-- .col-md-3 end -->
        <div class="col-xs-12 col-sm-4 col-md-2 footer--widget widget-links">
          <div class="widget-title">
            <h5>Company</h5>
          </div>
          <div class="widget-content">
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Meet Our Team</a></li>
              <li><a href="#">How It Works</a></li>
              <li><a href="#">Latest News</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
        </div>
        <!-- .col-md-2 end -->

        <div class="col-xs-12 col-sm-4 col-md-2 footer--widget widget-links">
          <div class="widget-title">
            <h5>Help & Support</h5>
          </div>
          <div class="widget-content">
            <ul>
              <li><a href="#">Exchange Rates</a></li>
              <li><a href="#">Supported Currencies</a></li>
              <li><a href="#">Asset Introduction</a></li>
              <li><a href="#">Affiliate Program</a></li>
              <li><a href="#">Developer Tools</a></li>
              <li><a href="#">Help & Wiki</a></li>
            </ul>
          </div>
        </div>
        <!-- .col-md-2 end -->

        <div class="col-xs-12 col-sm-4 col-md-2 footer--widget widget-links">
          <div class="widget-title">
            <h5>How To</h5>
          </div>
          <div class="widget-content">
            <ul>
              <li><a href="#">Buy Bitcoin</a></li>
              <li><a href="#">Buy Bitcoin Cash</a></li>
              <li><a href="#">Buy Ethereum</a></li>
              <li><a href="#">Buy Litecoin</a></li>
              <li><a href="#">Status</a></li>
            </ul>
          </div>
        </div>
        <!-- .col-md-2 end -->

        <div
          class="col-xs-12 col-sm-4 col-md-3 footer--widget widget-newsletter"
        >
          <div class="widget-title">
            <h5>Stay Updated</h5>
          </div>
          <div class="widget-content">
            <form class="form-newsletter mailchimp">
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Subscribe Our Newsletter"
              />
              <button type="submit">
                <i class="fa fa-long-arrow-right"></i>
              </button>
            </form>
            <div class="subscribe-alert"></div>
            <div class="clearfix"></div>
            <p>Get the latest updates and offers.</p>
            <div class="footer-social-icon">
              <a class="facebook" href="#">
                <i class="fa fa-facebook"></i><i class="fa fa-facebook"></i>
              </a>
              <a class="twitter" href="#">
                <i class="fa fa-twitter"></i><i class="fa fa-twitter"></i>
              </a>
              <a class="instagram" href="#">
                <i class="fa fa-instagram"></i><i class="fa fa-instagram"></i>
              </a>
              <a class="linkedin" href="#">
                <i class="fa fa-linkedin"></i><i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- .col-md-3 end -->
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- .container end -->
  </div>
  <!-- .footer-widget end -->

  <!-- Copyrights
============================================= -->
  <div class="footer--bar">
    <div class="container">
      <div class="row">
        <div
          class="col-xs-12 col-sm-12 col-md-12 text--center footer--copyright"
        >
          <div class="payment--methods text--center">
            <a href="#" title="Visa"
              ><img src="{% static 'assetss/images/footer/visa.png' %}" alt="Visa"
            /></a>
            <a href="#" title="Mastercard"
              ><img src="{% static 'assetss/images/footer/mastercard.png' %}" alt="Mastercard"
            /></a>
            <a href="#" title="amex">
              <img src="{% static 'assetss/images/footer/amex.png' %}" alt="amex"
            /></a>
            <a href="#" title="Delta"
              ><img src="{% static 'assetss/images/footer/delta.png' %}" alt="Delta" />
            </a>
            <a href="#" title="Cirrus"
              ><img src="{% static 'assetss/images/footer/cirrus.png' %}" alt="Cirrus"
            /></a>
            <a href="#" title="Paypal"
              ><img src="{% static 'assetss/images/footer/paypal.png' %}" alt="Paypal"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <!-- .container end -->
  </div>
  <!-- .footer-copyright end -->
</footer>
