{% load static %}
<section id="infoCards" class="info-cards bg-gray pt-70">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="info-card">
          <div class="info-card-step">01.</div>
          <div class="info-card-content">
            <h4 class="info-card-subtitle">We are helpers</h4>
            <h3 class="info-card-title">Advice and guides</h3>
            <p class="info-card-desc">
              Taking the time to manage your money better can really pay off. It
              can help you stay on top of your bills and save £1,000s each year.
            </p>
            <a class="info-card-links" href="#"
              ><i class="fa fa-plus"></i>Read More</a
            >
          </div>
        </div>
        <!-- .info-card end -->
      </div>
      <!-- .col-md-4 end -->
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="info-card">
          <div class="info-card-step">02.</div>
          <div class="info-card-content">
            <h4 class="info-card-subtitle">Quick & smart</h4>
            <h3 class="info-card-title">Tools and calculators</h3>
            <p class="info-card-desc">
              Use our Budget planner to keep on top of your spending, use our
              tool to work out what you have left after paying your most
              important bills.
            </p>
            <a class="info-card-links" href="#"
              ><i class="fa fa-plus"></i>Read More</a
            >
          </div>
        </div>
        <!-- .info-card end -->
      </div>
      <!-- .col-md-4 end -->
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="info-card">
          <div class="info-card-step">03.</div>
          <div class="info-card-content">
            <h4 class="info-card-subtitle">Friendly support</h4>
            <h3 class="info-card-title">Support in person</h3>
            <p class="info-card-desc">
              Support in person, over the phone and online. Web chat is
              available from 8am to 8pm or you can give us a call for free and
              impartial money advice.
            </p>
            <a class="info-card-links" href="#"
              ><i class="fa fa-plus"></i>Read More</a
            >
          </div>
        </div>
        <!-- .info-card end -->
      </div>
      <!-- .col-md-4 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #infoCards end -->
