{% load static %}

<section
			id="featured1"
			class="featured featured-1 bg-overlay bg-overlay-dark2 bg-parallax pb-0"
		>
        <div class="bg-section">
          <img src="{% static 'assetss/images/background/1.jpg' %}" alt="Background" />
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="featured-img">
                <img
                  src="{% static 'assetss/images/mockups/laptop-mockup.png' %}"
                  alt="Laptop Mockup"
                />
              </div>
            </div>
            <!-- .col-md-5 end -->
            <div class="col-xs-12 col-sm-12 col-md-5">
              <div class="heading heading-6 mb-50">
                <h2 class="heading--title text-white">
                  Take Your First Steps to Becoming a Bitcoiner Today!
                </h2>
                <p class="heading--desc text-gray mb-20">
                  Now you can start trading Bitcoin, Ethereum and many
                  cryptocurrencies fast, easily and safely from where ever you
                  are. With great margin trading leverage and short sell options
                  available with quick deposit & withdrawal capability, you can
                  start trading with us in seconds.
                </p>
                <p class="heading--desc text-gray">
                  Cryptocurrencies have become established investment
                  commodities among major financial institutions, and have even
                  been adopted by countries such as Australia and Japan.
                </p>
              </div>
              <!-- .heading end -->
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="feature-card">
                    <div class="feature-card-icon">
                      <img
                        src="{% static 'assetss/images/icons/BitcoinIcon1.png' %}"
                        alt="Bitcoin Icon"
                      />
                    </div>
                    <div class="feature-card-content">
                      <h3 class="feature-card-title text-white">
                        Quick Deposits and Withdrawals
                      </h3>
                    </div>
                  </div>
                </div>
                <!-- .col-md-4 end -->
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="feature-card">
                    <div class="feature-card-icon">
                      <img
                        src="{% static 'assetss/images/icons/BitcoinIcon2.png' %}"
                        alt="Bitcoin Icon"
                      />
                    </div>
                    <div class="feature-card-content">
                      <h3 class="feature-card-title text-white">
                        Reliable and Smart Platform
                      </h3>
                    </div>
                  </div>
                </div>
                <!-- .col-md-4 end -->
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="feature-card">
                    <div class="feature-card-icon">
                      <img
                        src="{% static 'assetss/images/icons/BitcoinIcon3.png' %}"
                        alt="Bitcoin Icon"
                      />
                    </div>
                    <div class="feature-card-content">
                      <h3 class="feature-card-title text-white">
                        Long and Short Selling
                      </h3>
                    </div>
                  </div>
                </div>
                <!-- .col-md-4 end -->
              </div>
              <!-- .row end -->
            </div>
            <!-- .col-md-7 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>