    {% load static %}
<div class="testimonial-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="section_title">
                    <h3>What you should know about <span>cryptocurrencies</span></h3>
                    <p>Cryptocurrencies (or “crypto”) is a digital currency that can be used to buy goods and services, 
                    but uses an online ledger with strong cryptography to secure online transactions.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="owl-testimonial owl-carousel owl-theme">
                    <div class="testimonial-panel">
                        <div class="tes-quoteInfo">
                            <img src="{% static 'public/uploads/client/1614163242_d77ccf3107038036eb08.jpg' %}" class="quoteAvatar"
                                alt="Pandora">
                            <div>
                                <div class="quoteAuthor"><span>Lora</span></div>
                                <div class="quotePosition">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial--body">
                            “I have always looked for a true investment company and i got it, i made millions of dollars by just investing in this great business ” </div>
                        <!-- /.testimonial-body end -->
                    </div>
                    <div class="testimonial-panel">
                        <div class="tes-quoteInfo">
                            <img src="{% static 'public/uploads/client/1614163394_2d2e562b0c4ddeb18201.jpg' %}" class="quoteAvatar"
                                alt="John Leo">
                            <div>
                                <div class="quoteAuthor"><span>John</span></div>
                                <div class="quotePosition">
                                    <span</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial--body">
                            “This is a great place to deal, This is the place i would keep on investing great investment plans.” </div>
                        <!-- /.testimonial-body end -->
                    </div>
                    <div class="testimonial-panel">
                        <div class="tes-quoteInfo">
                            <img src="{% static 'public/uploads/client/1614163344_0e0bd0c56d0d5b48eda7.jpg' %}" class="quoteAvatar"
                                alt="Avalon">
                            <div>
                                <div class="quoteAuthor"><span>Mario wagon</span></div>
                                <div class="quotePosition">
                                    <span</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial--body">
                            “My dreams are finally coming through, very pocket friendly. ” </div>
                        <!-- /.testimonial-body end -->
                    </div>
                    <div class="testimonial-panel">
                        <div class="tes-quoteInfo">
                            <img src="{% static 'public/uploads/testimonial/6ffe1bf3d45733f495e37e1c625844c2.jpg' %}"
                                class="quoteAvatar" alt="John Deo">
                            <div>
                                <div class="quoteAuthor"><span>John Deo</span></div>
                                <div class="quotePosition">
                                    <span>Co-founder of Microsoft, American business management</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial--body">
                            “ If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#39;t
                            anything embarrassing hidden in the middle of text. ” </div>
                        <!-- /.testimonial-body end -->
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="client-logo">

                    <div class="logo-item">
                        <a href="#" target="_blank"><img src="{% static 'assets/images/icons/EXMO.png' %}"
                                class="img-responsive" alt="Bdtask"></a>
                    </div>
                    <div class="logo-item">
                        <a href="#" target="_blank"><img src="{% static 'assets/images/icons/forex.png' %}"
                                class="img-responsive" alt="Bdtask"></a>
                    </div>
                    
                    <!-- /.End of client logo -->
                </div>
            </div>
        </div>
    </div>
</div>