{% load static %}
<section class="pricing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10">
                <div class="section-heading">
                    <h5 class="sub-title">
                        Choose the best for yourself
                    </h5>
                    <div class="title-big">
                        PRICING
                    </div>
                    <h2 class="title">
                        Choose Plans &amp; Pricing
                    </h2>
                    <p class="text">
                        Choose a plan of your choosing...
                    </p>
                </div>
            </div>
        </div>
        <div class="row">


            {% for plan in invest %}
            <div class="col-lg-3 col-md-6">
                <div class="single-pricebox">
                    <p class="plan-title">
                        {{plan.name}}
                    </p>
                    <div class="bonus">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="persent">{{plan.percentr}}%</p>
                        <p class="time">Payout {{plan.return_date}} day(s) </p>
                    </div>
                    <div class="price-range-area">
                        <div class="invest-count">
                            <div class="left">
                                Minimum Invest:
                            </div>
                            <div class="right">
                                {{plan.amount.amount}}$<i class="fab fa-bitcoin"></i>
                            </div>
                        </div>
                        <div class="invest-range-slider">
                            <div class="range-slider">
                                <input class="range-slider__range" type="range" value="{{plan.amount.amount}}" min="{{plan.amount.amount}}" max="{{plan.amountto.amount}}"
                                    style="background: linear-gradient(90deg, rgb(31, 113, 212) 26.4%, rgba(31, 113, 212, 0.125) 26.5%);">
                            </div>
                        </div>
                        <div class="invest-get">
                            <div class="left">
                                Invest: <br>
                                <input type="hidden" value="{{plan.amount.amount}}" class="invest-min-price" />
                                <input type="hidden" value="{{plan.amountto.amount}}" class="invest-max-price" />
                                <input type="number" min="{{plan.amount.amount}}" max="{{plan.amountto.amount}}" class="payprice" value="{{plan.amount.amount}}">
                                <span style="display:none;" class="range-slider__value ck">{{plan.amount.amount}}</span>
                            </div>
                            <input type="hidden" class="dbl" value="{{plan.percent}}">
                            <div class="right">
                                Get: <span class="dk"></span>
                                <input type="hidden" class="prodid" value="">
                                <input type="hidden" class="getprice" value="">
                            </div>
                        </div>
                    </div>
                    <div class="invest-button">

                        <a href="{% url 'main:invest' %}" 
                            class="mybtn1 ">INVEST NOW </a>
                    </div>
                </div>
            </div>
            {% endfor %}


            {% comment %} <div class="col-lg-3 col-md-6">
                <div class="single-pricebox">
                    <p class="plan-title">
                        Plan 2
                    </p>
                    <div class="bonus">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="persent">300%</p>
                        <p class="time">Payout 60 day(s) </p>
                    </div>
                    <div class="price-range-area">
                        <div class="invest-count">
                            <div class="left">
                                Minimum Invest:
                            </div>
                            <div class="right">
                                100$<i class="fab fa-bitcoin"></i>
                            </div>
                        </div>
                        <div class="invest-range-slider">
                            <div class="range-slider">
                                <input class="range-slider__range" type="range" value="100" min="100" max="1000"
                                    style="background: linear-gradient(90deg, rgb(31, 113, 212) 26.4%, rgba(31, 113, 212, 0.125) 26.5%);">
                            </div>
                        </div>
                        <div class="invest-get">
                            <div class="left">
                                Invest: <br>
                                <input type="hidden" value="100" class="invest-min-price" />
                                <input type="hidden" value="1000" class="invest-max-price" />
                                <input type="number" min="100" max="1000" class="payprice" value="100">
                                <span style="display:none;" class="range-slider__value ck">100</span>
                            </div>
                            <input type="hidden" class="dbl" value="3">
                            <div class="right">
                                Get: <span class="dk">300</span>
                                <input type="hidden" class="prodid" value="66">
                                <input type="hidden" class="getprice" value="300">
                            </div>
                        </div>
                    </div>
                    <div class="invest-button">

                        <a href="#" data-checkoutRoute="https://royalscripts.com/product/crypto/order/66"
                            data-url="https://royalscripts.com/product/crypto/crypto/setdata"
                            data-href="https://royalscripts.com/product/crypto/order/66"
                            class="mybtn1 checkout-btn">INVEST NOW </a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="single-pricebox">
                    <p class="plan-title">
                        Plan 3
                    </p>
                    <div class="bonus">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="persent">400%</p>
                        <p class="time">Payout 90 day(s) </p>
                    </div>
                    <div class="price-range-area">
                        <div class="invest-count">
                            <div class="left">
                                Minimum Invest:
                            </div>
                            <div class="right">
                                100$<i class="fab fa-bitcoin"></i>
                            </div>
                        </div>
                        <div class="invest-range-slider">
                            <div class="range-slider">
                                <input class="range-slider__range" type="range" value="100" min="100" max="1000"
                                    style="background: linear-gradient(90deg, rgb(31, 113, 212) 26.4%, rgba(31, 113, 212, 0.125) 26.5%);">
                            </div>
                        </div>
                        <div class="invest-get">
                            <div class="left">
                                Invest: <br>
                                <input type="hidden" value="100" class="invest-min-price" />
                                <input type="hidden" value="1000" class="invest-max-price" />
                                <input type="number" min="100" max="1000" class="payprice" value="100">
                                <span style="display:none;" class="range-slider__value ck">100</span>
                            </div>
                            <input type="hidden" class="dbl" value="4">
                            <div class="right">
                                Get: <span class="dk">400</span>
                                <input type="hidden" class="prodid" value="65">
                                <input type="hidden" class="getprice" value="400">
                            </div>
                        </div>
                    </div>
                    <div class="invest-button">

                        <a href="#" data-checkoutRoute="https://royalscripts.com/product/crypto/order/65"
                            data-url="https://royalscripts.com/product/crypto/crypto/setdata"
                            data-href="https://royalscripts.com/product/crypto/order/65"
                            class="mybtn1 checkout-btn">INVEST NOW </a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="single-pricebox">
                    <p class="plan-title">
                        Plan 4
                    </p>
                    <div class="bonus">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="persent">200%</p>
                        <p class="time">Payout 30 day(s) </p>
                    </div>
                    <div class="price-range-area">
                        <div class="invest-count">
                            <div class="left">
                                Minimum Invest:
                            </div>
                            <div class="right">
                                100$<i class="fab fa-bitcoin"></i>
                            </div>
                        </div>
                        <div class="invest-range-slider">
                            <div class="range-slider">
                                <input class="range-slider__range" type="range" value="100" min="100" max="1000"
                                    style="background: linear-gradient(90deg, rgb(31, 113, 212) 26.4%, rgba(31, 113, 212, 0.125) 26.5%);">
                            </div>
                        </div>
                        <div class="invest-get">
                            <div class="left">
                                Invest: <br>
                                <input type="hidden" value="100" class="invest-min-price" />
                                <input type="hidden" value="1000" class="invest-max-price" />
                                <input type="number" min="100" max="1000" class="payprice" value="100">
                                <span style="display:none;" class="range-slider__value ck">100</span>
                            </div>
                            <input type="hidden" class="dbl" value="2">
                            <div class="right">
                                Get: <span class="dk">200</span>
                                <input type="hidden" class="prodid" value="64">
                                <input type="hidden" class="getprice" value="200">
                            </div>
                        </div>
                    </div>
                    <div class="invest-button">

                        <a href="#" data-checkoutRoute="https://royalscripts.com/product/crypto/order/64"
                            data-url="https://royalscripts.com/product/crypto/crypto/setdata"
                            data-href="https://royalscripts.com/product/crypto/order/64"
                            class="mybtn1 checkout-btn">INVEST NOW </a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="single-pricebox">
                    <p class="plan-title">
                        Plan 5
                    </p>
                    <div class="bonus">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="persent">300%</p>
                        <p class="time">Payout 60 day(s) </p>
                    </div>
                    <div class="price-range-area">
                        <div class="invest-count">
                            <div class="left">
                                Minimum Invest:
                            </div>
                            <div class="right">
                                100$<i class="fab fa-bitcoin"></i>
                            </div>
                        </div>
                        <div class="invest-range-slider">
                            <div class="range-slider">
                                <input class="range-slider__range" type="range" value="100" min="100" max="1000"
                                    style="background: linear-gradient(90deg, rgb(31, 113, 212) 26.4%, rgba(31, 113, 212, 0.125) 26.5%);">
                            </div>
                        </div>
                        <div class="invest-get">
                            <div class="left">
                                Invest: <br>
                                <input type="hidden" value="100" class="invest-min-price" />
                                <input type="hidden" value="1000" class="invest-max-price" />
                                <input type="number" min="100" max="1000" class="payprice" value="100">
                                <span style="display:none;" class="range-slider__value ck">100</span>
                            </div>
                            <input type="hidden" class="dbl" value="3">
                            <div class="right">
                                Get: <span class="dk">300</span>
                                <input type="hidden" class="prodid" value="63">
                                <input type="hidden" class="getprice" value="300">
                            </div>
                        </div>
                    </div>
                    <div class="invest-button">

                        <a href="#" data-checkoutRoute="https://royalscripts.com/product/crypto/order/63"
                            data-url="https://royalscripts.com/product/crypto/crypto/setdata"
                            data-href="https://royalscripts.com/product/crypto/order/63"
                            class="mybtn1 checkout-btn">INVEST NOW </a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="single-pricebox">
                    <p class="plan-title">
                        Plan 6
                    </p>
                    <div class="bonus">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="persent">400%</p>
                        <p class="time">Payout 90 day(s) </p>
                    </div>
                    <div class="price-range-area">
                        <div class="invest-count">
                            <div class="left">
                                Minimum Invest:
                            </div>
                            <div class="right">
                                100$<i class="fab fa-bitcoin"></i>
                            </div>
                        </div>
                        <div class="invest-range-slider">
                            <div class="range-slider">
                                <input class="range-slider__range" type="range" value="100" min="100" max="1000"
                                    style="background: linear-gradient(90deg, rgb(31, 113, 212) 26.4%, rgba(31, 113, 212, 0.125) 26.5%);">
                            </div>
                        </div>
                        <div class="invest-get">
                            <div class="left">
                                Invest: <br>
                                <input type="hidden" value="100" class="invest-min-price" />
                                <input type="hidden" value="1000" class="invest-max-price" />
                                <input type="number" min="100" max="1000" class="payprice" value="100">
                                <span style="display:none;" class="range-slider__value ck">100</span>
                            </div>
                            <input type="hidden" class="dbl" value="4">
                            <div class="right">
                                Get: <span class="dk">400</span>
                                <input type="hidden" class="prodid" value="62">
                                <input type="hidden" class="getprice" value="400">
                            </div>
                        </div>
                    </div>
                    <div class="invest-button">

                        <a href="#" data-checkoutRoute="https://royalscripts.com/product/crypto/order/62"
                            data-url="https://royalscripts.com/product/crypto/crypto/setdata"
                            data-href="https://royalscripts.com/product/crypto/order/62"
                            class="mybtn1 checkout-btn">INVEST NOW </a>
                    </div>
                </div>
            </div> {% endcomment %}


        </div>
    </div>
</section>