{% load static %}

<section class="testimonial">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10">
                <div class="section-heading color-white">
                    <h5 class="sub-title">
                        Testimonial
                    </h5>
                    <h2 class="title">
                        Customer Reviews
                    </h2>
                    <p class="text">
                        This are reviews from our top users.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="testimonial-slider">

                            

                    <div class="single-testimonial">
                        <div class="review-text">
                            <p>I have always looked for a true investment company and i got it,
                             i made millions of dollars by just investing in this great business</p>
                        </div>
                        <div class="people">
                            <div class="img">
                                <img src="{% static 'assets/images/reviews/1561447511people.png' %}" alt="">
                            </div>
                            <h4 class="title">Paul Ivans</h4>
                            <p class="designation">Ceo American Business Manegement</p>
                        </div>
                    </div> 

                    <div class="single-testimonial">
                        <div class="review-text">
                            <p>This is a great place to deal, This is the place i would keep on investing great investment plans.</p>
                        </div>
                        <div class="people">
                            <div class="img">
                                <img src="{% static 'assets/images/reviews/sam.jpg' %}" alt="">
                            </div>
                            <h4 class="title">Sam Bankman-Fried</h4>
                            <p class="designation">CEO FTX</p>
                        </div>
                    </div>

                    <div class="single-testimonial">
                        <div class="review-text">
                            <p>My dreams are finally coming through, very pocket friendly.</p>
                        </div>
                        <div class="people">
                            <div class="img">
                                <img src="{% static 'assets/images/reviews/woman.jpg' %}" alt="">
                            </div>
                            <h4 class="title">Maria wagon </h4>
                            <p class="designation"></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>