{% load static %}

<section class="service">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="section-heading">
          <h5 class="sub-title">THE BEST SERVICES</h5>
          <h2 class="title">We bring the best things</h2>
          <p class="text">We make investing easier</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="service-slider">
          <div class="item">
            <div class="single-service">
              <div class="icon">
                <img
                  src="{% static 'assets/images/features/data.png' %}"
                  style="width: 90px"
                  alt=""
                />
              </div>
              <div class="content">
                <h4 class="title">Data Protection</h4>
                <p>
                  <span style="color: rgb(5, 14, 51); text-align: center"
                    >We provide data protection with a level 2 to end encrption
                    for any infomation provided.</span
                  ><br />
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="single-service">
              <div class="icon">
                <img
                  src="{% static 'assets/images/features/support.png' %}"
                  style="width: 90px"
                  alt=""
                />
              </div>
              <div class="content">
                <h4 class="title">24/7 Support</h4>
                <p>
                  <span style="color: rgb(5, 14, 51); text-align: center"
                    >Perfectly elaborated and calculated investment plans for
                    depositPerfectly elaborated and c profit during the entire
                    term of the deposit.</span
                  ><br />
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="single-service">
              <div class="icon">
                <img
                  src="{% static 'assets/images/features/payment.png' %}"
                  style="width: 90px"
                  alt=""
                />
              </div>
              <div class="content">
                <h4 class="title">Payment Method</h4>
                <p>
                  <span style="color: rgb(5, 14, 51); text-align: center"
                    >We accepts payments from most crypto currrencies especially
                    Bitcoin, Ethereum and USDT. </span
                  ><br />
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="single-service">
              <div class="icon">
                <img
                  src="{% static 'assets/images/features/world.png' %}"
                  style="width: 90px"
                  alt=""
                />
              </div>
              <div class="content">
                <h4 class="title">World wide coverage</h4>
                <p>
                  <span style="color: rgb(5, 14, 51); text-align: center"
                    >We offer service to all countries and race Courtesy
                    Capitalcointradefx.</span
                  ><br />
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="single-service">
              <div class="icon">
                <img
                  src="{% static 'assets/images/features/exchange.png' %}"
                  style="width: 90px"
                  alt=""
                />
              </div>
              <div class="content">
                <h4 class="title">Life exchange</h4>
                <p>
                  <span style="color: rgb(5, 14, 51); text-align: center"
                    >We provide you with live updates on crypto rates, making
                    the system one of the best around.</span
                  ><br />
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="single-service">
              <div class="icon">
                <img
                  src="{% static 'assets/images/features/1563350755service-icon-1.png' %}"
                  alt=""
                />
              </div>
              <div class="content">
                <h4 class="title">Online Consulting</h4>
                <p>
                  <span style="color: rgb(5, 14, 51); text-align: center"
                    >You can always contact us online, via our chat app,
                    providing solution and support to you 24/7</span
                  ><br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
