{% load static %}

 <nav class="navbar-custom-menu navbar  navbar-expand-lg m-0">
                <div class="sidebar-toggle-icon" id="sidebarCollapse">
                    sidebar toggle<span></span>
                </div>
                <!--/.sidebar toggle icon-->
                <div class="d-flex flex-grow-1">
                    <ul class="navbar-nav flex-row align-items-center ml-auto">


                        <li class="nav-item dropdown user-menu">
                            <a class="nav-link " href="#" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-header d-sm-none">
                                    <a href="" class="header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                                </div>
                                <div class="user-header">
                                    <div class="img-user">
                                        <img src="{% static 'public/uploads/dashboard/user.png' %}"
                                            alt="">
                                    </div><!-- img-user -->
                                    <h6>{{request.user.first_name}} {{request.user.last_name}}</h6>
                                    <span>{{request.user.email}}</span>
                                </div><!-- user-header -->
                                
                                <a href="/logout"
                                    class="dropdown-item"><i class="fa fa-key"></i> Sign Out</a>
                            </div>
                            <!--/.dropdown-menu -->
                        </li>
                    </ul>

                </div>
            </nav>