{% load static %}
<section
  id="page-title"
  class="page-title bg-overlay bg-overlay-dark bg-parallax"
>
  <div class="bg-section">
    <img
      src="{% static 'assetss/images/page-titles/6.jpg' %}"
      alt="Background"
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="title title-6 text-center">
          <div class="title--heading">
            <h1>Testimonials</h1>
          </div>
          <div class="clearfix"></div>
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            
            <li class="active">Testimonials</li>
          </ol>
        </div>
        <!-- .title end -->
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
