{% load static %}
<!-- Testimonial #1
============================================= -->
<section id="testimonia1" class="testimonial testimonial-wide testimonial-1">
  <div class="container">
    <div class="row">
      <div
        class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 wow fadeInUp"
        data-wow-delay="100ms"
      >
        <div
          id="testimonial-wide"
          class="carousel carousel-navs"
          data-slide="1"
          data-slide-rs="1"
          data-autoplay="false"
          data-nav="true"
          data-dots="false"
          data-space="0"
          data-loop="true"
          data-speed="800"
        >
          <!-- Testimonial #1 -->
          <div class="testimonial-panel">
            <div class="testimonial--icon"></div>
            <!-- .testimonial-icon end -->
            <div class="testimonial--body">
              <p>
                “Highly recommended & a great experience. The process was simple
                and easy to understand. Trading was straight forward, supports
                all major cryptocurrencies and the entire process was super
                smooth!”
              </p>
            </div>
            <!-- .testimonial-body end -->

            <div class="testimonial--meta">
              <div class="testimonial--meta-img">
                <img
                  src="{% static 'assetss/images/testimonial/2.png' %}"
                  alt="Testimonial Author"
                />
              </div>
              <h4>Mahmoud Baghagho</h4>
              <p>7oroof Agency</p>
            </div>
            <!-- .testimonial-meta end -->
          </div>
          <!-- .testimonial-panel end -->

          <!-- Testimonial #2 -->
          <div class="testimonial-panel">
            <div class="testimonial--icon"></div>
            <!-- .testimonial-icon end -->
            <div class="testimonial--body">
              <p>
                “Highly recommended & a great experience. The process was simple
                and easy to understand. Trading was straight forward, supports
                all major cryptocurrencies and the entire process was super
                smooth!”
              </p>
            </div>
            <!-- .testimonial-body end -->

            <div class="testimonial--meta">
              <div class="testimonial--meta-img">
                <img
                  src="{% static 'assetss/images/testimonial/1.png' %}"
                  alt="Testimonial Author"
                />
              </div>
              <h4>ayman fikry</h4>
              <p>zytheme</p>
            </div>
            <!-- .testimonial-meta end -->
          </div>
          <!-- .testimonial-panel end -->

          <!-- Testimonial #3 -->
          <div class="testimonial-panel">
            <div class="testimonial--icon"></div>
            <!-- .testimonial-icon end -->
            <div class="testimonial--body">
              <p>
                “Highly recommended & a great experience. The process was simple
                and easy to understand. Trading was straight forward, supports
                all major cryptocurrencies and the entire process was super
                smooth!”
              </p>
            </div>
            <!-- .testimonial-body end -->

            <div class="testimonial--meta">
              <div class="testimonial--meta-img">
                <img
                  src="{% static 'assetss/images/testimonial/3.png' %}"
                  alt="Testimonial Author"
                />
              </div>
              <h4>Fouad badawy</h4>
              <p>Tie Labs Inc</p>
            </div>
            <!-- .testimonial-meta end -->
          </div>
          <!-- .testimonial-panel end -->
        </div>
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #testimonial1 end -->
