{% load static %}
<section id="video" class="video-button pb-0">
  <div class="bg-section">
    <img src="{% static 'assetss/images/background/10.jpg' %}" alt="Background" />
  </div>
  <div class="container">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
        <div class="heading heading-5 mb-120 text--center">
          <p class="heading--subtitle">Profitable And Successful Investments</p>
          <h2 class="heading--title text-white">
            Internal Accounting, Sales Data & Market Economic Indicators
          </h2>
        </div>
      </div>
      <!-- .col-md-6 end -->
    </div>
    <!-- .row end -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="video--content text-center">
          <div class="bg-section">
            <img src="{% static 'assetss/images/video/3.jpg' %}" alt="Background" />
          </div>
          <div class="video--button">
            <div class="video-overlay">
              <div class="pos-vertical-center">
                <a class="popup-video" href="youtube.com/watch?v=OiWVdptk8Ks">
                  <span class="btn--animation"></span>
                  <i class="fa fa-play"></i>
                  <div>Watch Our Video!</div>
                </a>
              </div>
            </div>
            <!-- .video-player end -->
          </div>
        </div>
        <!-- .video-content end -->
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</section>
<!-- #video end -->
