<div class="single-currency-box">
    <u><h4>Investment Request Taken</h4></u>
    <h5>Follow the steps below to pay in</h5>
    
    <h4>Pay ${{amount}} dollars equivalent of {{val}} {{paymethod}} into this {{paymethod}} wallet {{message.Message}} , and send payments confirmation to <a style="color:blue;" href="mailto:capitalcointradefx@gmail.com">capitalcointradefx@gmail.com</a> 
        <br>
        <br>
        Payment confirmation would take at most 6 hours.
    </h4>
                 {% comment %} $('#messageplace').html(response); {% endcomment %}

</div>

