{% extends 'base/base1.html' %}
{% block content %}
<div id="loader"></div>
{% load static %}
{% load djmoney %}
{% load mathfilters %}
<link rel="stylesheet" href="{% static 'assets/front/css/stylesbf0e.css' %}">
<link rel="stylesheet" href="{% static 'assets/front/css/style.css' %}">
<div class="wrapper">

    {% include 'includes/_sidebar.html' %}
    <!-- DEBUG-VIEW ENDED 2 APPPATH/Config/../Views/customer/sidebar.php -->
    <!-- DEBUG-VIEW START 3 APPPATH/Config/../Views/customer/header.php -->
    <!-- CONTENT -->
    <div class="content-wrapper">
        <div class="main-content">
            <div class="page-loader-wrapper">
                <div class="loader">
                    <div class="preloaderr">
                        <div class="spinner-layer pl-green">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <p>Please wait...</p>
                </div>
            </div>

            {% include 'includes/_sidebar1.html' %}
            <!--/.navbar-->


            <div class="body-content">



                <!-- DEBUG-VIEW ENDED 4 APPPATH/Config/../Views/customer/messages.php -->
                <!-- DEBUG-VIEW START 5 APPPATH/Modules/Auth/Views/Customer/dashboard.php -->

                <div class="row">
                    <div class="col-xl-12 col-12" style="margin-bottom: 22px;">

                        <div style="height:40px;"><iframe
                                src="https://widget.coinlib.io/widget?type=horizontal_v2&amp;theme=dark&amp;pref_coin_id=1505&amp;invert_hover="
                                width="100%" height="36" scrolling="auto" marginwidth="0" marginheight="0"
                                frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe></div>

                    </div>
                </div>

                <div class="row">
       
        <div class="col-sm-6">
            
            <div class="input-group">
                 <label class="col-form-label">Affiliate Url </label>
                <input type="text" class="form-control" id="copyed" value="{{ domain }}{% url 'main:register' %}?referral={{request.user.username}}">
                <span class="input-group-btn">
                    <button class="btn btn-primary copy" type="button">Copy</button>
                </span>
            </div>
        </div>
   

    
</div>
                <br>

                <div class="social_share">
                    <ul>
                        <li class="whatsapp"><a
                                href="javascript:void(0)"> <span>My Referral
                                     {{request.user.ref.all|length}}</span></a></li>
                        <li class="facebook"><a
                                href="javascript:void(0)">
                                <span>Commission {{request.user.profile.commision}} USD</span></a></li>
                        <li class="twitter"><a
                                href="javascript:void(0)">
                                <span>Bonus {{request.user.profile.bonus}} USD</span></a></li>
                    </ul>
                </div>


                <!-- /.Social share -->
                <div class="row">
                    

                    {% comment %} <div class="col-sm-6 col-md-3">
                        <div class="count_panel">
                            <div class="stats-title ">
                                <h4>Withdraw</h4>
                            </div>
                            <h1 class="currency_text text-warning">$3,650.00</h1>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="count_panel">
                            <div class="stats-title ">
                                <h4>Team Turnover</h4>
                            </div>
                            <h1 class="currency_text text-success">$115,100.00</h1>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="count_panel">
                            <div class="stats-title ">
                                <h4>Sponsor Turnover</h4>
                            </div>
                            <h1 class="currency_text text-success">$7,600.00</h1>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-3">
                        <div class="count_panel">
                            <div class="stats-title ">
                                <h4>Balance</h4>
                            </div>
                            <h1 class="currency_text text-info"> $94,265,467.21</h1>
                        </div>
                    </div> {% endcomment %}

                    <div id="balance" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 dashboard-content">
                        <div class="single-currency-box" style="background: #009E60;">
                            <h5>My Balance</h5>
                            <p>${{request.user.profile.invested_balance.amount | addition:request.user.profile.commision.amount | addition:request.user.profile.bonus.amount}} USD </p>
                        </div>
                    </div>
                    <div id="balance" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 dashboard-content">
                        <div class="single-currency-box" style="background: #f2a9;">
                            <h5>Investment balance</h5>
                            <p>{{request.user.profile.invested_balance}} USD </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 dashboard-content">
                        <div class="single-currency-box" style="background: #f2a900;">
                            <h5>BTC Balance</h5>
                            <p>฿ {{request.user.profile.btc_balance.amount}} BTC</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 dashboard-content">
                        <div class="single-currency-box" style="background: #00aced;">
                            <h5>ETH Balance</h5>
                            <p>(Ξ) {{request.user.profile.eth_balance.amount}} ETH</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 dashboard-content">
                        <div class="single-currency-box" style="background: #3B5998;">
                            <h5>TRON</h5>
                            <p>₹ {{request.user.profile.tron_balance.amount}} TRX</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 dashboard-content">
                        <div class="single-currency-box" style="background: #0ecc8d;">
                            <h5>USDT</h5>
                            <p>₮ {{request.user.profile.usdt_balance.amount}} USDT</p>
                        </div>
                    </div>

                    

                    <div class="col-xl-12 col-12">
                        <div class="tradingview-widget-container">
                            <div id="tradingview_94a7d">
                                <div id="tradingview_f1acd-wrapper"
                                    style="position: relative;box-sizing: content-box;height: calc(400px - 32px);margin: 0 auto !important;padding: 0 !important;font-family:Arial,sans-serif;">
                                    <div
                                        style="height: calc(400px - 32px);background: transparent;padding: 0 !important;">
                                        <iframe id="tradingview_f1acd"
                                            src="https://s.tradingview.com/widgetembed/?frameElementId=tradingview_f1acd&amp;symbol=NASDAQ%3AAAPL&amp;interval=D&amp;symboledit=1&amp;saveimage=1&amp;toolbarbg=f1f3f6&amp;studies=%5B%5D&amp;theme=dark&amp;style=1&amp;timezone=Etc%2FUTC&amp;studies_overrides=%7B%7D&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;locale=en&amp;utm_source=sharecoinoptions.com&amp;utm_medium=widget_new&amp;utm_campaign=chart&amp;utm_term=NASDAQ%3AAAPL"
                                            style="width: 100%; height: 100%; margin: 0 !important; padding: 0 !important;"
                                            frameborder="0" allowtransparency="true" scrolling="no"
                                            allowfullscreen=""></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="tradingview-widget-copyright" style="width: 100%;"><a
                                    href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener"
                                    target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView
                            </div>
                            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                            <script type="text/javascript">
                                new TradingView.widget(
                                    {

                                        "height": 400,
                                        "symbol": "NASDAQ:AAPL",
                                        "interval": "D",
                                        "timezone": "Etc/UTC",
                                        "theme": "dark",
                                        "style": "1",
                                        "locale": "en",
                                        "toolbar_bg": "#f1f3f6",
                                        "enable_publishing": false,
                                        "allow_symbol_change": true,
                                        "container_id": "tradingview_94a7d"
                                    }
                                );
                            </script>
                        </div>
                    </div>

                    <div class="col-xl-8 col-12">
                        <div
                            style="height:433px; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; border: 1px solid #56667F; border-radius: 4px; text-align: right; line-height:14px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #56667F; padding: 0px;  width: 100%;">
                            <div style="height:413px; padding:0px; margin:0px; width: 100%;"><iframe
                                    src="https://widget.coinlib.io/widget?type=full_v2&theme=light&cnt=6&pref_coin_id=1505&graph=yes"
                                    width="100%" height="409px" scrolling="auto" marginwidth="0" marginheight="0"
                                    frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe></div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-12">
                        <div
                            style="height:335px; background-color: #FAFAFA; overflow:hidden; box-sizing: border-box; border: 1px solid #56667F; border-radius: 4px; text-align: right; line-height:14px; block-size:335px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #56667F;margin: 0;padding:1px;padding: 0px; margin: 0px;">
                            <div style="height:315px; padding:0px; margin:0px; width: 100%;"><iframe
                                    src="https://widget.coinlib.io/widget?type=converter&theme=light" width="250"
                                    height="310px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0"
                                    border="0" style="border:0;margin:0;padding:0;"></iframe></div>

                        </div>
                    </div>

                    <div class="col-xl-8 col-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Latest Transactions</h4>
                                <ul class="box-controls pull-right">
                                    <li><a class="box-btn-fullscreen" href="#"></a></li>
                                </ul>
                            </div>
                            <div class="box-body px-15 pt-0 pb-10">
                                <div class="table-responsive">
                                    <table class="table no-border mb-0">
                                        <thead>
                                            <tr class="bg-pale-dark">
                                                <th>#</th>
                                                <th>BTC</th>
                                                <th>Time</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-yellow hover-warning">
                                                        9d2c7b06bfa0
                                                    </a>
                                                </td>
                                                <td class="text-nowrap">1.2126281 BTC</td>
                                                <td>
                                                    <time class="timeago text-nowrap" datetime="2018-02-01T13:38:01Z"
                                                        title="2018-02-01 13:38 GMT">2m ago</time>
                                                </td>
                                                <td><span class="label label-success">Confirmed</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-yellow hover-warning">
                                                        5de67415bfc6
                                                    </a>
                                                </td>
                                                <td class="text-nowrap">0.20522881 BTC</td>
                                                <td>
                                                    <time class="timeago text-nowrap" datetime="2018-02-01T13:38:01Z"
                                                        title="2018-02-01 13:38 GMT">2m ago</time>
                                                </td>
                                                <td><span class="label label-warning">Unconfirmed</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-yellow hover-warning">
                                                        733de15b3cec
                                                    </a>
                                                </td>
                                                <td class="text-nowrap">2.02622033 BTC</td>
                                                <td>
                                                    <time class="timeago text-nowrap" datetime="2018-02-01T13:38:01Z"
                                                        title="2018-02-01 13:38 GMT">2m ago</time>
                                                </td>
                                                <td><span class="label label-success">Confirmed</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-yellow hover-warning">
                                                        6793bcfa4f7f
                                                    </a>
                                                </td>
                                                <td class="text-nowrap">2.43220578 BTC</td>
                                                <td>
                                                    <time class="timeago text-nowrap" datetime="2018-02-01T13:38:00Z"
                                                        title="2018-02-01 13:38 GMT">2m ago</time>
                                                </td>
                                                <td><span class="label label-danger">Canceled</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-yellow hover-warning">
                                                        2c66087936b5
                                                    </a>
                                                </td>
                                                <td class="text-nowrap">14.01099978 BTC</td>
                                                <td>
                                                    <time class="timeago text-nowrap" datetime="2018-02-01T13:38:00Z"
                                                        title="2018-02-01 13:38 GMT">2m ago</time>
                                                </td>
                                                <td><span class="label label-danger">Canceled</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-yellow hover-warning">
                                                        51935e53c294
                                                    </a>
                                                </td>
                                                <td class="text-nowrap">0.3024534 BTC</td>
                                                <td>
                                                    <time class="timeago text-nowrap" datetime="2018-02-01T13:38:00Z"
                                                        title="2018-02-01 13:38 GMT">2m ago</time>
                                                </td>
                                                <td><span class="label label-warning">Unconfirmed</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-yellow hover-warning">
                                                        a3976b73cf5e
                                                    </a>
                                                </td>
                                                <td class="text-nowrap">0.20518486 BTC</td>
                                                <td>
                                                    <time class="timeago text-nowrap" datetime="2018-02-01T13:37:59Z"
                                                        title="2018-02-01 13:37 GMT">2m ago</time>
                                                </td>
                                                <td><span class="label label-success">Confirmed</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-4 col-12">
                        <div class="box">
                            <div class="box-header">
                                <h4 class="box-title">Markets : ETH / PLN</h4>
                            </div>
                            <div class="box-body px-0 pb-0">
                                <div class="d-flex align-items-center justify-content-between px-15">
                                    <div class="lookup lookup-circle lookup-right">
                                        <input type="text" name="s">
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary active btn-sm">PLN</button>
                                        <button type="button" class="btn btn-primary btn-sm">EUR</button>
                                        <button type="button" class="btn btn-primary btn-sm">USD</button>
                                        <button type="button" class="btn btn-primary btn-sm">BTC</button>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped no-border no-margin">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Price</th>
                                                <th>Change</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><i class="fs-16 me-5 cc BTC" title="BTC"></i> BTC</td>
                                                <td>
                                                    <p class="no-margin text-fade">2351.00</p>
                                                </td>
                                                <td class="no-wrap"><span class="text-success"><i
                                                            class="fa fa-caret-up"></i> 1.85%</span></td>
                                                <td class="text-center"><i class="fa fa-star text-primary"></i></td>
                                            </tr>
                                            <tr>
                                                <td><i class="fs-16 me-5 cc ETH" title="ETH"></i> ETH</td>
                                                <td>
                                                    <p class="no-margin text-fade">2350.00</p>
                                                </td>
                                                <td class="no-wrap"><span class="text-success"><i
                                                            class="fa fa-caret-up"></i> 0.85%</span></td>
                                                <td class="text-center"><i class="fa fa-star text-primary"></i></td>
                                            </tr>
                                            <tr>
                                                <td><i class="fs-16 me-5 cc LBC" title="LBC"></i> LBC</td>
                                                <td>
                                                    <p class="no-margin text-fade">1405.00</p>
                                                </td>
                                                <td class="no-wrap"><span class="text-danger"><i
                                                            class="fa fa-caret-down"></i> 1.85%</span></td>
                                                <td class="text-center"><i class="fa fa-star"></i></td>
                                            </tr>
                                            <tr>
                                                <td><i class="fs-16 me-5 cc DASH" title="DASH"></i> DASH</td>
                                                <td>
                                                    <p class="no-margin text-fade">4125.00</p>
                                                </td>
                                                <td class="no-wrap"><span class="text-success"><i
                                                            class="fa fa-caret-up"></i> 1.05%</span></td>
                                                <td class="text-center"><i class="fa fa-star"></i></td>
                                            </tr>
                                            <tr>
                                                <td><i class="fs-16 me-5 cc XRP" title="XRP"></i> XRP</td>
                                                <td>
                                                    <p class="no-margin text-fade">4157.00</p>
                                                </td>
                                                <td class="no-wrap"><span class="text-danger"><i
                                                            class="fa fa-caret-down"></i> 0.05%</span></td>
                                                <td class="text-center"><i class="fa fa-star"></i></td>
                                            </tr>
                                            <tr>
                                                <td><i class="fs-16 me-5 cc DAO" title="DAO"></i> DAO</td>
                                                <td>
                                                    <p class="no-margin text-fade">4152.00</p>
                                                </td>
                                                <td class="no-wrap"><span class="text-danger"><i
                                                            class="fa fa-caret-down"></i> 0.09%</span></td>
                                                <td class="text-center"><i class="fa fa-star"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="box">
                            <div class="box-header">
                                <h4 class="box-title">Sell</h4>
                                <div class="box-controls pull-right">
                                    Total: 409.2820
                                </div>
                            </div>
                            <div class="box-body p-0">
                                <div class="table-responsive buy-sall-table">
                                    <table class="table table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th width="25%" class="text-nowrap">Pri./ BTC</th>
                                                <th>BTC Amount</th>
                                                <th>Total: (USD)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>82.3</td>
                                                <td><i class="cc BTC fs-14 me-5"></i> 0.15</td>
                                                <td>$ 134.7</td>
                                            </tr>
                                            <tr>
                                                <td>82.4</td>
                                                <td><i class="cc BTC fs-14 me-5"></i> 2.66</td>
                                                <td>$ 238.3</td>
                                            </tr>
                                            <tr>
                                                <td>82.5</td>
                                                <td><i class="cc BTC fs-14 me-5"></i> 0.32</td>
                                                <td>$ 288.6</td>
                                            </tr>
                                            <tr>
                                                <td>84.0</td>
                                                <td><i class="cc BTC fs-14 me-5"></i> 0.10</td>
                                                <td>$ 878.4</td>
                                            </tr>
                                            <tr>
                                                <td>95.0</td>
                                                <td><i class="cc BTC fs-14 me-5"></i> 0.10</td>
                                                <td>$ 958.6</td>
                                            </tr>
                                            <tr>
                                                <td>95.9</td>
                                                <td><i class="cc BTC fs-14 me-5"></i> 0.30</td>
                                                <td>$ 270.4</td>
                                            </tr>
                                            <tr>
                                                <td>97.0</td>
                                                <td><i class="cc BTC fs-14 me-5"></i> 0.00</td>
                                                <td>$ 30.2</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="box">
                            <div class="box-header">
                                <h4 class="box-title">Buy </h4>
                                <div class="box-controls pull-right">
                                    Total: 406.00
                                </div>
                            </div>
                            <div class="box-body p-0">
                                <div class="table-responsive buy-sall-table">
                                    <table class="table table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th width="25%" class="text-nowrap">Pri./ BTC</th>
                                                <th>BTC Amount</th>
                                                <th>Total: (USD)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>82.3</td>
                                                <td><i class="cc BTC fs-14 me-5"></i> 0.15</td>
                                                <td>$ 134.7</td>
                                            </tr>
                                            <tr>
                                                <td>82.4</td>
                                                <td><i class="cc BTC fs-14 me-5"></i> 2.66</td>
                                                <td>$ 234.3</td>
                                            </tr>
                                            <tr>
                                                <td>82.5</td>
                                                <td><i class="cc BTC fs-14 me-5"></i> 0.32</td>
                                                <td>$ 288.6</td>
                                            </tr>
                                            <tr>
                                                <td>84.0</td>
                                                <td><i class="cc BTC fs-14 me-5"></i> 0.10</td>
                                                <td>$ 878.4</td>
                                            </tr>
                                            <tr>
                                                <td>95.0</td>
                                                <td><i class="cc BTC fs-14 me-5"></i> 0.10</td>
                                                <td>$ 958.6</td>
                                            </tr>
                                            <tr>
                                                <td>95.9</td>
                                                <td><i class="cc BTC fs-14 me-5"></i> 0.30</td>
                                                <td>$ 270.4</td>
                                            </tr>
                                            <tr>
                                                <td>97.0</td>
                                                <td><i class="cc BTC fs-14 me-5"></i> 0.00</td>
                                                <td>$ 30.2</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


                {% include 'includes/_payments.html' %}


                <div class="row">
                    <div class="col-md-12">
                        <div class="single-currency-box" style="display: flex;justify-content: center;">
                            <a href="{% url 'main:invest' %}" type="button" class="btn btn-primary btn-lg">Invest</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <footer class="footer-content">
                <div class="footer-text d-flex align-items-center justify-content-between">
                   
                </div>
            </footer>
            <!--/.footer content-->
            <div class="overlay"></div>




            <!--Global script(used by all pages)-->
            <!-- <script src="https://phpcryptomarket.bdtask.com/demo-v4.0/public/assets/plugins/jQuery/jquery.min.js"></script> -->

        </div>
    </div>

    {% endblock %}