{% extends 'base/base1.html' %}
{% block content %}
<div id="loader"></div>
{% load static %}
{% load djmoney %}
<div class="wrapper">

    {% include 'includes/_sidebar.html' %}
    <!-- DEBUG-VIEW ENDED 2 APPPATH/Config/../Views/customer/sidebar.php -->
    <!-- DEBUG-VIEW START 3 APPPATH/Config/../Views/customer/header.php -->
    <!-- CONTENT -->
    <div class="content-wrapper">
        <div class="main-content">
            <div class="page-loader-wrapper">
                <div class="loader">
                    <div class="preloaderr">
                        <div class="spinner-layer pl-green">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <p>Please wait...</p>
                </div>
            </div>
            {% include 'includes/_sidebar1.html' %}
            <!--/.navbar-->

            
            <!--Dashboard area-->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="dashboard-content">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="dashboard-inner-content">
                                <div class="card">
                                    <h5 class="card-header">Money Transfer Form</h5>
                                    <div class="card-body">
                                        <form action="#" id="reqForm">
                                            <div class="row">

                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                                    <label for="chargedfffffg">username</label>
                                                    <input name='username' value={{request.user.username}} type="text"
                                                        readonly="readonly" value="0" id="chargedfffffg">
                                                </div>

                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                                    <label for="a-transd">Amount Transfer</label>
                                                    <input name="amount" type="number" value="" id="a-transd"
                                                        placeholder="Enter amount in dollars" required>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                                    <label for="currencygs">Withdrawal Type</label>
                                                    <select class="form-control" id="currencygs" required>
                                                        {% for pay in pay %}
                                                            <option id="pay{{pay.id}}" value="{{pay.name}}">{{pay.name}}</option>
                                                            {% endfor %}
                                                    </select>
                                                   
                                                </div>


                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <label for="textareagsd">description</label>
                                                    <textarea name="des" rows="4" id="textareagsd" required
                                                        placeholder="Enter Crypto Address for Receiving payment for the payment method of your choice"></textarea>
                                                </div>
                                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6">
                                                    <label for="textareagsd">Transaction Id</label>
                                                    <input type="text" name='trx' placeholder="withdraw code" value="TRX-{{random}}"
                                                        readonly>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                                    <button id="reqBtn" type="submit">Transfer</button>
                                                </div>
                                                <div class="col-xl-12" id='message'>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
 
            <footer class="footer-content">
                <div class="footer-text d-flex align-items-center justify-content-between">
                    <div class="copy">2021 © Copyright bdtask Treading System</div>
                    <div class="credit">Designed by: <a href="#">Bdtask</a></div>
                </div>
            </footer>
            <!--/.footer content-->
            <div class="overlay"></div>


        
<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script>
    $('#currencygs').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        var valueSelected = this.value;
        console.log(valueSelected, optionSelected)
        $("#a-trans12").val(valueSelected);
    });


    $('#reqForm').submit(function (e) {
        e.preventDefault();
        // get all the inputs into an array.
        var $inputs = $('#reqForm :input');

        // not sure if you wanted this, but I thought I'd add it.
        // get an associative array of just the values.
        var values = {'method':$("option:selected", '#currencygs').text(),};
        $inputs.each(function () {
            values[this.name] = $(this).val();
            console.log(values[this.name])
        });
        console.log(values)
        $('#reqBtn').html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');
        $('#reqBtn').prop('disabled', true);

        $.ajax({
            type: "post",
            url: "{% url 'main:funds' %}",
            data: values,
            success: function (response) {
                $('#reqBtn').html('Transfer');
                $('#reqBtn').prop('disabled', true);
                $('#message').html(`<div class="alert alert-${response.message_type} alert-dismissible fade show" role="alert">${response.message}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button></div>`);
                $('#messageplace').html(response);



            },
            error: function (data) {

                $('#reqBtn').html('Transfer');
                $('#reqBtn').prop('disabled', false);
                $('#message').html(`<div class="alert alert-danger alert-dismissible fade show" role="alert">Something went wrong try again...<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button></div>`);
            },
        });

    });


</script>

            <!--Global script(used by all pages)-->
            <!-- <script src="https://phpcryptomarket.bdtask.com/demo-v4.0/public/assets/plugins/jQuery/jquery.min.js"></script> -->

        </div>
    </div>

    {% endblock %}