{% extends 'base/base1.html' %}
{% block content %}
<div id="loader"></div>
{% load static %}
{% load djmoney %}
 <style>
 label {
  cursor: pointer;
  filter: grayscale(100%);
}

label:hover {
  filter: grayscale(0);
}
{% comment %} input[type="radio"]:checked + label {
  filter: grayscale(0);
} {% endcomment %}
.checker:checked + label {
  filter: grayscale(0);
}
  </style>
<div class="wrapper">

    {% include 'includes/_sidebar.html' %}
    <!-- DEBUG-VIEW ENDED 2 APPPATH/Config/../Views/customer/sidebar.php -->
    <!-- DEBUG-VIEW START 3 APPPATH/Config/../Views/customer/header.php -->
    <!-- CONTENT -->
    <div class="content-wrapper">
        <div class="main-content">
            <div class="page-loader-wrapper">
                <div class="loader">
                    <div class="preloaderr">
                        <div class="spinner-layer pl-green">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <p>Please wait...</p>
                </div>
            </div>
            {% include 'includes/_sidebar1.html' %}
            <!--/.navbar-->

            
            <!--Dashboard area-->
    <section class="section-padding gradient-overlay poly-particle">
        <div class="container">
            <div class="row">
               
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="dashboard-content">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="dashboard-inner-content">
                                    <div class="card">
                                        <h5 class="card-header">Invest Form</h5>
                                        <div class="card-body">
                                            <form action="#" id="investForm">
                                                <div class="row">
                                                    
                                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                                    <label for="currencygsd">Curreny</label>
                                                        <select name="currency-select" class="select-bar" id="currencygsd">
                                                            <option value="">USD</option>
                                                        </select>    
                                                    </div>
                                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                                        <div class="form-group">
                                                        <label for="sel1">Select investment plan:</label>
                                                        <select class="form-control" id="currencygs">
                                                            {% for invests in invest %}
                                                            <option id="invest{{invests.id}}" value="{{invests.amount.amount}}" >{{invests.name}}</option>
                                                            {% endfor %}
                                                        </select> 
                                                        
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                                        <label for="a-trans">Amount Transfer </label>
                                                        <input  type="number" name="amount" value="{% with invest|first as first_doc %}{{ first_doc.amount.amount }}{% endwith %}" id="a-trans" required>
                                                    </div>
                                                  
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                        <div class="form-group">
                                                        <label for="sel1"><p><i class="fa fa-info-circle"></i> Select Payement Method <span class="text-info"></span></p></label>
                                                        <select class="form-control" id="payer" name="paymethod">
                                                            {% for pay in pay %}
                                                            <option id="pay{{pay.id}}" value="{{pay.name}}">{{pay.name}}</option>
                                                            {% endfor %}
                                                        </select> 
                                                        
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                    {% comment %} <div class="col-xl-4 col-lg-12 col-md-4 col-sm-6">
                                                        <input type="radio" name="paymethod" class="sr-only checker" id="male">
                                                        <label for="male">
                                                            <img width='100%' height="100" src="{% static 'assets/images/brands/btc.jpg' %}" alt="male">
                                                        </label>
                                                    </div>
                                                    <div class="col-xl-4 col-lg-12 col-md-4 col-sm-6">
                                                        <input type="radio" name="paymethod" class="sr-only" id="eth">
                                                        <label for="eth">
                                                            <img width='100%' height="100" src="{% static 'assets/images/brands/eth.jpg' %}" alt="female">
                                                        </label>
                                                    </div>
                                                     <div class="col-xl-4 col-lg-12 col-md-4 col-sm-6">
                                                        <input type="radio" name="paymethod" class="sr-only" id="eth">
                                                        <label for="eth">
                                                            <img width='100%' height="100" src="{% static 'assets/images/brands/usd.jpg' %}" alt="female">
                                                        </label>
                                                    </div> {% endcomment %}

                                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6">
                                                        <input type="email" name="email" placeholder="Email" value={{request.user.email}} readonly>
                                                    </div>
                                                    
                                                        <input type="hidden" id="payval" name="payval" value="">
                                                    

                                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                                       <button id="investBtn" type="submit">Invest</button>
                                                    </div>
                                                    

                                                    <div id="messageplace" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                        
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Dashboard area-->


    
    <script>

        $('#currencygs').on('change', function (e) {
            e.preventDefault();
            var optionSelected = $("option:selected", '#currencygs');
            console.log($("option:selected", this).text())
            var valueSelected = this.value;
            var amount = this.value;
            btc  = $('#payval')
            $("#a-trans").val(valueSelected);
            $.get("https://min-api.cryptocompare.com/data/price?fsym=BTC&tsyms=USD",function(data){
                let BTC_amount = amount / data["USD"],
                    final_value = BTC_amount.toFixed(3)
                btc.val(final_value)
               });
        });

    $('#investForm').submit(function(e) {
        e.preventDefault();
        // get all the inputs into an array.
      
        var $inputs = $('#investForm :input');
        var payer = $('#payer').find(":selected").text();
        var optionSelected = $("option:selected", this);

        // not sure if you wanted this, but I thought I'd add it.
        // get an associative array of just the values.
        var values = {'plan':$("option:selected", '#currencygs').text(), 'rates':rates};
        $inputs.each(function() {
            values[this.name] = $(this).val();
            console.log(values[this.name])
        });
        
        console.log(values)
        $('#investBtn').html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');
        $('#investBtn').prop('disabled', true);
        
        $.ajax({
            type: "post",
            url: "{% url 'main:loadmsg' %}",
            data: values,
            success: function (response) {
                $('#investBtn').html('Investment Taken');
                $('#investBtn').prop('disabled', true);
                $('#message').html(`<div class="alert alert-${response.message_type} alert-dismissible fade show" role="alert">${response.message}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button></div>`);
                {% if respose.mainMsg %}
                $('#messageplace').html(response.mainMsg);
                {% else %}
               
                {% endif %}
                 $('#messageplace').html(response);
                
                {% comment %} $.scrollTo($('#message'), 1000); {% endcomment %}
                console.log(response)
                if(response.redirect){
                    window.location = response.redirect
                }
                
            },
            error: function (data) {

                $('#investBtn').html('Invest');
                $('#investBtn').prop('disabled', false);
                alert("something went wron try again...")
                $('#message').html(`<div class="alert alert-danger alert-dismissible fade show" role="alert">Something went wrong try again...<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button></div>`);
            },
        });

        });

        {% comment %} $(document).ready(function() {
           
            var optionSelected = $("option:selected", '#currencygs');
            console.log('$("option:selected", this).text()')
            var valueSelected = this.value;
            var amount = this.value;
            btc  = $('#payval')
            
            $.get("https://min-api.cryptocompare.com/data/price?fsym=BTC&tsyms=USD",function(data){
                let BTC_amount = amount / data["USD"],
                    final_value = BTC_amount.toFixed(3)
                    console.log(final_value)
                btc.val(final_value)
               });
        }); {% endcomment %}

        function rates(){
            var optionSelected = $("option:selected", '#currencygs');
            console.log('$("option:selected", this).text()')
            var valueSelected = this.value;
            var amount = this.value;
            btc  = $('#payval')
            final_val = ''
            $.get("https://min-api.cryptocompare.com/data/price?fsym=BTC&tsyms=USD",function(data){
                let BTC_amount = amount / data["USD"],
                    final_value = BTC_amount.toFixed(3)
                    console.log(final_value)
                btc.val(final_value)
                final_val = final_value
               });
        }

    
    </script>


            <footer class="footer-content">
                <div class="footer-text d-flex align-items-center justify-content-between">
                    <div class="copy">2021 © Copyright bdtask Treading System</div>
                    <div class="credit">Designed by: <a href="#">Bdtask</a></div>
                </div>
            </footer>
            <!--/.footer content-->
            <div class="overlay"></div>




            <!--Global script(used by all pages)-->
            <!-- <script src="https://phpcryptomarket.bdtask.com/demo-v4.0/public/assets/plugins/jQuery/jquery.min.js"></script> -->

        </div>
    </div>

    {% endblock %}